<html>
<head>
	<title>Microbial Analyzer&trade;</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/hexagon.css') }}"> -->
	<style type="text/css">
  .ldBar-label {
    font-family: tahoma;
    font-size: .2em;
  }
</style>
</head>
<body>
	<div class="cal-main">
		<div class="cal-head">Microbial Analyzer&trade;</div>

		<!-- HTML for phase 1, 2 and 4 -->
		<div id="texter" class="textbox highlighted">
			<div id="text">Waiting for sample</div>
			<div id="loadbar" class="cal-week" style="height:20px; display:none">
			</div>
		</div>

		<!-- HTML for phase 3 -->
		<div id="videobox" class="textbox" style="display: none;">
			<div style="display: flex; flex-direction: column; justify-content: center">
				<div style="text-align: center">Sample output:</div>
			    <video id="video" width="100%" style="margin: auto">
				  <source src="{{ url_for('static', filename='media/jelly.mp4') }}" type="video/mp4">
				  Your browser does not support HTML5 video.
				</video>
			</div>
			<form action="/action_page.php">
			  Patient name:<br>
			  <input type="text" name="patient-name" value="Eliza Roberts">
			  <br>
			  Pathogen:<br>
			  <input id="input-pathogen" type="text" name="pathogen">
			  <br>
			  Antibiotic administered:<br>
			  <input id="input-antibiotic" type="text" name="antibiotic">
			  <br><br>
			</form> 
		</div>
	</div>
	<canvas id="c"></canvas>
  	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/socket.io-1.7.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<!-- <script src="{{ url_for('static', filename='js/hexagon.js') }}"></script> -->
</body>
</html>
