<div id="container" class="textbox" >

<img id="chosen_antibiotic" src="{{ url_for('static', filename='media/antibiotica1.png') }}">

<div>
<h1>Weet je zeker dat je</h1>
<h1>deze antibiotica wilt voorschrijven?</h1>
</div>


<div id="janee">
  <h4 id="ja">JA</h4>
  <h4 id="nee">NEE</h4>
</div>

</div>

<h3 id="undertext">Gebruik de pijltjes toetsen om te kiezen en druk op 'enter' om verder te gaan</h3>
