
<div id="container" class="textbox" style="background-color: var(--darkpink)">

<img src="{{ url_for('static', filename='media/img-contactpatient.png') }}" >

<div>

<h1>Maak de patiënt blij met het goede nieuws</h1>
<h3>Vertel dat er een antibioticum is gevonden waarvoor de bacteriën gevoelig zijn.</h3>
<h3>Er is dus een werkend antibioticum!
<h3>Maar sommige antibiotica hebben zwaardere</h3>
<h3>bijwerkingen of moeten via het infuus in het ziekenhuis gegeven worden.</h3> 


</div>

</div>
