
<div id="container" class="textbox">

<script>
    console.log('To replace the video: put video in app/static/media and replace filename in app/templates/gamestates/6_resistancewarning3.html')
</script>

<video id="video" autoplay="true" style="border: 0px">
</video>

</div>
