<div id="container" class="textbox">

<div id="wintext" style="display: none;">
  <h1>De arts is op de hoogte gebracht</h1>
  <h1>van jullie bevindingen.</h1>
  <h1>Hij gaat deze resultaten met Monique delen</h1>
  <h1>en zal beslissen wat de volgende stap</h1>
  <h1>van de behandeling is.</h1>
</div>

</div>
