<div id="container" class="textbox">

<div id="wintext" style="display: none;">
  <h1 style="font-size: 4em;">Gefeliciteerd!</h1>
</div>

<div id="failtext" style="display: none;">
  <h1>Helaas lijkt het antibioticum niet het</h1>
  <h1>effect te hebben waar de arts op gehoopt had.</h1>
  <br>
  <h1>Heeft het lab wel de juiste keuze gemaakt?</h1>
  <br>
  <br>
  <h1 style="font-size: 3em;">Einde</h1>
</div>


</div>
