
<div id="container" class="textbox" style="background-color: green">

<div>
<h1>Dit is het juiste urinemonster</h1>
<h3>Druk op 'enter'. Jullie krijgen dan alle informatie die jullie nodig hebben voor het vervolgonderzoek.</h3>
</div>

</div>