
<div id="container" class="textbox">

<video id="video" autoplay="true" style="border: 0px">
  <source src="{{ url_for('static', filename='media/dokter.mp4') }}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

</div>
