<div id="container" class="textbox">

<div>
<h1>Nadat Monique lang in het ziekenhuis</h1>
<h1>gewacht heeft, is ze blij om te horen</h1>
<h1>dat de dokter een update voor haar heeft.</h1>
</div>

</div>
