
<div id="container" class="textbox" style="background-color: var(--darkpink)">

<img src="{{ url_for('static', filename='media/img-anti.png') }}" >

<div>
<h1>Antibioticaresistentie gedetecteerd.</h1>
<!--<h3>Conclusie: de bacteriën zijn ongevoelig voor antibiotica geworden.</h3>-->
<!--<h3>Daarom werkt het antibioticum niet.</h3>-->
<!--<h3>Als er geen werkend antibioticum wordt gevonden, wordt de patiënt zieker </h3>-->
<!--<h3>en kan het zelfs levensbedreigend worden.</h3>-->
</div>

</div>

<h3 id="undertext">Druk op 'enter' om deze informatie te delen met de arts</h3>