
<div id="container" class="textbox">

<h1>Bacteriën worden geisoleerd</h1>

<video id="samples" autoplay="true" style="border: 0px">
  <source src="{{ url_for('static', filename='media/sample_animatie2.mp4') }}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

</div>
